@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.EngineerName)
  @Html.TextBoxFor(model => model.EngineerName)
  @Html.ValidationMessageFor(model => model.EngineerName)
  <input type="submit" value="Add new engineer" class="btn btn-primary" />

}
<p>@Html.ActionLink("Show all engineers", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>