@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>@Model.MachineName</h2>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This machine is not licensed to any engineers.</p>
}
else
{
  <h4>Legal operators:</h4>
  <ul>
    @foreach (EngineerMachine join in Model.JoinEntities)
    {
      <li>@join.Engineer.EngineerName</li>
    }
  </ul>
}

@Html.ActionLink("Add Licensed Engineer", "AddEngineer", new { id = Model.MachineID })
<br>
@Html.ActionLink("Remove Licensed Engineer", "Delete", new { id = Model.MachineID })
<br>
@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineID })
<br>
@Html.ActionLink("Other Machines", "Index", new { id = Model.MachineID })